[submodule "decomp"]
	path = extern/decomp
	url = https://github.com/GoldenPalazzo/smstrikers-decomp
	branch = port-x86_64
[submodule "aurora"]
	path = extern/aurora
	url = https://github.com/encounter/aurora
